<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/es1">
        <label for="fname">inserisci il nome del clinte: </label>
        <input type="text" id="fname" name="nome"><br><br>
        <label for="fname">inserisci il cognome del clinte: </label>
        <input type="text" id="fname" name="cognome"><br><br>
    </form>
    {{df|safe}}
</body>
</html>